<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="lt.psk.mybatis.model.Elem" alias="Elem"/>
        <typeAlias type="lt.psk.mybatis.model.Recipe" alias="Recipe"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="MANAGED"/>
            <dataSource type="JNDI">
                <property name="data_source" value="ElementalDataSource"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mybatis.xml/ElemMapper.xml"/>
        <mapper resource="mybatis.xml/RecipeMapper.xml"/>
    </mappers>
</configuration>
